body{
    margin: 0%;
    padding: 0%;
    background-color: rgb(235, 238, 232);
    color: white;
    text-align: center;
    background-image: url(https://wallpapershome.com/images/pages/pic_h/5708.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 100vh;
    
    
    
}
h1{
    font-size: 45px;
}
input{
    width: 75px;
    height: 50px;
    font-size: 45px;
    margin: 10px;
    border: radius 10px;
    background-color: aliceblue;
    color: black;
    border-style: none;

}
.btn:hover{
    background-color: yellow;
    cursor: pointer;
}